  .card-title {
      font-size: x-large;
      font-weight: 500;
      color: rgb(255, 255, 255);
      padding-top: 30px;
      margin-left: 27px;
   
  }
  
  .mat-card {
    background-image:  url("../../assets/images/judge.png");
  background-position: center;
  background-size: cover;
  
      width: 360px;
      color: rgb(230, 219, 219);
      font-size: 20px;
      border-radius: 10px 10px;
      
  }
  .mat-card-content {
    margin-top: 30px;
    font-size: 17px;
   
}
  span {
      font-weight: 500;
     color: rgb(255, 255, 255);;
  }
  .mat-div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background: rgba(243, 231, 229, 0.37);
      margin-top: 20px;
      border-radius: 10px 10px;
  }
  .mat-div-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(20, 36, 21, 0.322);
    margin-top: 20px;
}
  
  .mat-div-parent {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
  }
  .mat-div-parent-mobile {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    width: fit-content;
}
  
  mat-card-title {
      font-weight: bold;
      color: tomato;
  }
  mat-card-subtitle {
   color: rgb(255, 255, 255);
}
.button-mat {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}
button {
    background: tomato;
}
