.sidenav-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.sidenav {
    width: 250px;
    background: #3b4b44;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.search {
    height: 40px;
    width: 1000px;
    border-radius: 30px 10px;
    margin-left: 100px;
    border: 2px solid rgb(163, 156, 156);
    padding-left: 15px;
    font-size: 17px;
}

.search:focus {
    border-color: rgb(76, 238, 116);
    outline: none;
}

.mat-toolbar {
    
    width: 100%;
    background: hsl(114, 15%, 52%)
    
}

mat-sidenav-content {
    background: rgba(69, 119, 73, 0.322);
}