/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-label {
    color: rgba(70, 18, 18, 0.7)
}

.mat-hint {
    color: rgba(88, 194, 255, 0.931);
}